#header{
    background: url("../img/3.jpg")center no-repeat;
    height: 720px;
}
#header h1{
    width: 500px;
    height: 50px;
    background: grey;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px 30px;
    cursor: pointer;
    vertical-align: middle;

}
#body h1{
    width: 1500px;
    height: 25px;
    background: blueviolet;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px 30px;
    cursor: pointer;
    vertical-align: middle;

}
#footer{
    width: 1500px;
    height: 25px;
    background: lightseagreen;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px 30px;
    cursor: pointer;
    vertical-align: middle;

}